/*
	DOM構造順
*/

.container,
.space_top,
.close,
.centering,
.space_bottom {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 1000;
}

.space_top {
	/* min-height: 2.2rem; */
	flex-grow: 50;
	flex-shrink: 0;
}
.close {
	position: fixed;
	top: 1%; top: 1vh;
	right: 1%; right: 1vw;
	padding: 0.3rem;
	color: white;
	font-size: 1.6rem;
	cursor: default;
	user-select: none;
	transition: 0.3s;
}
.close:hover {
	color: firebrick;
	transition: 0.3s;
}

.centering {
	max-width: 100%;
	/* max-height: 100%; */
	flex-shrink: 0;
}

.space_bottom {
	flex-grow: 50;
}
