/*
	DOM構造順
*/

.container,
.space_top,
.space_top-closeButton,
.centering,
.space_bottom {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 1000;
}

.space_top {
	/* min-height: 2.2rem; */
	-webkit-box-flex: 50;
	-webkit-flex-grow: 50;
	-moz-box-flex: 50;
	-ms-flex-positive: 50;
	flex-grow: 50;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.space_top-closeButton {
	position: fixed;
	top: 1vh;
	right: 1vw;
	padding: 0.3rem;
	color: white;
	font-size: 1.6rem;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}
.space_top-closeButton:hover {
	color: firebrick;
	transition: 0.3s;
}

.centering {
	max-width: 100%;
	/* max-height: 100%; */
	flex-shrink: 0;
}

.space_bottom {
	-webkit-box-flex: 50;
	-webkit-flex-grow: 50;
	-moz-box-flex: 50;
	-ms-flex-positive: 50;
	flex-grow: 50;
}
